@font-face {
    font-family: "Gotham";
    src: url("https://kevel.syw.com/kevel/GothamMedium.ttf")
      format("opentype");
  }

  @font-face {
    font-family: "Gotham";
    font-weight: bold;
    src: url("https://kevel.syw.com/kevel/Gotham-Bold.otf")
      format("opentype");
  }

  :root {
    --primary-color: #ffffff;
  }

  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .master-card-banner {
    background-image: url(./img/SYWMC-PYW_EDO_Raise-Mobile_262@2x.png);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 16px 24px;
    border-radius: 4px;
    width: 262px;
    height: 266px;
    box-sizing: border-box;
  }

  .master-card-banner__content {
    width: 195px;
    height: 80px;
    font-family: "Gotham", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: var(--primary-color);
    margin: 16px 0 0 0;
    
    position: relative;
  }
  .master-card-banner__content span {
    color: #02aeef;
    font-weight: 400;
    text-decoration: none;
  }
  .master-card-banner__content sup {
    vertical-align: 4.5px;
    font-size: xx-small;
    position: absolute;
    bottom: 7px;
  }

  .master-card-banner__card-container {
    width: 80px;
    height: 80px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .master-card-banner__card-container img {
    width: 60.74px;
    height: 38.52px;
  }
  .master-card-banner__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 139px;
    height: 47px;
    margin-top: 8px;
  }
  
  .master-card-banner__action-title {
    width: 118px;
    height: 24px;
    cursor: pointer;
    font-family: "Gotham", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24.4px;
    color: var(--primary-color);
    margin: 0;
    padding: 0px;
  }
  
  .master-card-banner__action-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 139px;
    height: 23px;
  }
  
  .master-card-banner__action-subtitle p {
    font-family: "Gotham", sans-serif;
    font-weight:normal;
    font-size: 9px;
    line-height: 12px;
    text-align: start;
    width: 158px;
    color: var(--primary-color);
    margin: 0;
  }

  span {
    text-decoration: underline;
    text-decoration-color: #ffffff8e;
    color: var(--primary-color);
    cursor: pointer;
  }

  .master-card-banner__action-subtitle :nth-child(2) {
    cursor: pointer;
    margin-top: 2px;
  }

  .right-icon {
    text-decoration: none;
    font-size: 17px;
    margin-left: 6px;
  }