@font-face {
    font-family: "Gotham";
    src: url("https://kevel.syw.com/kevel/GothamMedium.ttf") format("opentype");
  }
  
  @font-face {
    font-family: "Gotham";
    font-weight: bold;
    src: url("https://kevel.syw.com/kevel/Gotham-Bold.otf") format("opentype");
  }
  
  :root {
    --primary-color: #ffffff;
  }
  
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .master-card-banner {
    background-image: url(./img/Way_EDO_554x136@2x.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    gap: 24px;
    text-align: left;
    padding: 16px 24px;
    border-radius: 4px; 
    width: 554px;
    height: 136px;
    box-sizing: border-box;
  }
  
  .master-card-banner__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 403px;
    height: 111px;
    padding: 0;
    margin: 0;
    gap: 8px;

  }
  .master-card-banner__content-text {
    width: 403px;
    height: 72px;
    font-family: "Gotham", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--primary-color);
    margin: 8px 0 0 0;
    position: relative;
  }
   .master-card-banner__content-text span {
    color: #02AEEF;
    font-weight: 400;
    text-decoration: none;
   }
  .master-card-banner__content-text sup {
    font-size: xx-small;
    position: absolute;
    bottom: 7px;
  }
  
  .master-card-banner__card-container {
    width: 80px;
    height: 80px;
    background: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .master-card-banner__card-container img {
      width: 60.74px;
      height: 38.52px;
  }
  .master-card-banner__action {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 273px;
    height: 31px;
  }
  
  .master-card-banner__action-title {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 2px;
    width: 118px;
    height: 24px;
    cursor: pointer;
  }
  
  .master-card-banner__action-text {
    font-family: "Gotham", sans-serif;
    font-style: normal;
    font-weight: 400;
    width: 92px;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-color);
    margin: 8px 0 0 0;
  }
  
  .master-card-banner__action-icon {
    width: 24px;
    height: 24px;
  }
  
  .master-card-banner__action-subtitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 160px;
    height: 29px;
  }
  
  .master-card-banner__action-subtitle p {
    font-family: "Gotham", sans-serif;
    font-weight: 400;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
    width: 158px;
    color: var(--primary-color);
    margin: 2.5px 0 0 0;
  }
  
  span {
    text-decoration: underline;
    text-decoration-color: #ffffff8e;
    color: var(--primary-color);
    cursor: pointer;
  }
  